body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    margin: 20px;
    background-color: #f0f2f5;
    color: #333;
}

h1, h2 {
    color: #4a4a8e;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #ccc;
}

code {
    background-color: #f7f7f7;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    color: #d63384;
}

a {
    display: inline-block;
    color: #fff;
    background-color: #007acc;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

a:hover {
    background-color: #ff7f50; /* Cor agradável e vibrante para hover */
    transform: scale(1.05);
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #4a4a8e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #373773;
}
